In [1]:
from pydataset import data

In [2]:
# data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

In [3]:
import pandas as pd
import numpy as np

np.random.seed(123)

students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas',
            'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# randomly generate scores for each student for each subject
# note that all the values need to have the same length here
math_grades = np.random.randint(low=60, high=100, size=len(students))
english_grades = np.random.randint(low=60, high=100, size=len(students))
reading_grades = np.random.randint(low=60, high=100, size=len(students))

df = pd.DataFrame({'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades})

type(df)

pandas.core.frame.DataFrame

In [4]:
df

       name  math  english  reading
0     Sally    62       85       80
1      Jane    88       79       67
2     Suzie    94       74       95
3     Billy    98       96       88
4       Ada    77       92       98
5      John    79       76       93
6    Thomas    82       64       81
7     Marie    93       63       90
8    Albert    92       62       87
9   Richard    69       80       94
10    Isaac    92       99       93
11     Alan    92       62       72

1. A. Create a column named passing_english that indicates whether each student has a passing grade in english.

In [5]:
df["passing_english"] = (df.english >= 70)
df

       name  math  english  reading  passing_english
0     Sally    62       85       80             True
1      Jane    88       79       67             True
2     Suzie    94       74       95             True
3     Billy    98       96       88             True
4       Ada    77       92       98             True
5      John    79       76       93             True
6    Thomas    82       64       81            False
7     Marie    93       63       90            False
8    Albert    92       62       87            False
9   Richard    69       80       94             True
10    Isaac    92       99       93             True
11     Alan    92       62       72            False

B. Sort the english grades by the passing_english column. How are duplicates handled?

In [51]:
df = df.sort_values(by = "passing_english", ascending = False)
df

       name  math  english  reading  passing_english  overall_grade
0     Sally    62       85       80             True      75.666667
1      Jane    88       79       67             True      78.000000
2     Suzie    94       74       95             True      87.666667
3     Billy    98       96       88             True      94.000000
4       Ada    77       92       98             True      89.000000
5      John    79       76       93             True      82.666667
9   Richard    69       80       94             True      81.000000
10    Isaac    92       99       93             True      94.666667
6    Thomas    82       64       81            False      75.666667
7     Marie    93       63       90            False      82.000000
8    Albert    92       62       87            False      80.333333
11     Alan    92       62       72            False      75.333333

## NB: Always set "df = " after making a change, to apply the change

C. Sort the english grades first by passing_english and then by student name. All the students that are failing english should be first, and within the students that are failing english they should be ordered alphabetically. The same should be true for the students passing english. (Hint: you can pass a list to the .sort_values method)

In [52]:
df = df.sort_values(by = ["passing_english", "name"], ascending = True)
df

       name  math  english  reading  passing_english  overall_grade
11     Alan    92       62       72            False      75.333333
8    Albert    92       62       87            False      80.333333
7     Marie    93       63       90            False      82.000000
6    Thomas    82       64       81            False      75.666667
4       Ada    77       92       98             True      89.000000
3     Billy    98       96       88             True      94.000000
10    Isaac    92       99       93             True      94.666667
1      Jane    88       79       67             True      78.000000
5      John    79       76       93             True      82.666667
9   Richard    69       80       94             True      81.000000
0     Sally    62       85       80             True      75.666667
2     Suzie    94       74       95             True      87.666667

D. Sort the english grades first by passing_english, and then by the actual english grade, similar to how we did in the last step.

In [8]:
df.sort_values(by = ["passing_english", "english"], ascending = True)

       name  math  english  reading  passing_english
8    Albert    92       62       87            False
11     Alan    92       62       72            False
7     Marie    93       63       90            False
6    Thomas    82       64       81            False
2     Suzie    94       74       95             True
5      John    79       76       93             True
1      Jane    88       79       67             True
9   Richard    69       80       94             True
0     Sally    62       85       80             True
4       Ada    77       92       98             True
3     Billy    98       96       88             True
10    Isaac    92       99       93             True

E. Calculate each students overall grade and add it as a column on the dataframe. The overall grade is the average of the math, english, and reading grades.

In [54]:
df["overall_grade"] = round((df.english + df.math + df.reading) /3,0)
df.sort_values(by = 'overall_grade', ascending = False)

#df["overall"] = df[["math", "english", "reading"]].mean(axis=1) >> 
# this gives the row value

       name  math  english  reading  passing_english  overall_grade
10    Isaac    92       99       93             True           95.0
3     Billy    98       96       88             True           94.0
4       Ada    77       92       98             True           89.0
2     Suzie    94       74       95             True           88.0
5      John    79       76       93             True           83.0
7     Marie    93       63       90            False           82.0
9   Richard    69       80       94             True           81.0
8    Albert    92       62       87            False           80.0
1      Jane    88       79       67             True           78.0
6    Thomas    82       64       81            False           76.0
0     Sally    62       85       80             True           76.0
11     Alan    92       62       72            False           75.0

In [61]:
df.passing_english.sum()

8

In [59]:
df.passing_english.mean()

0.6666666666666666

## We can run .sum(), .mean() and other fucntions on the boolean outputs of our tables

2. Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [65]:
# data('mpg', show_doc=True) # view the documentation for the dataset
mpg = data('mpg') # load the dataset and store it in a variable

data('mpg', show_doc=True)

mpg

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Fuel economy data from 1999 and 2008 for 38 popular models of car

### Description

This dataset contains a subset of the fuel economy data that the EPA makes
available on http://fueleconomy.gov. It contains only models which had a new
release every year between 1999 and 2008 - this was used as a proxy for the
popularity of the car.

### Usage

    data(mpg)

### Format

A data frame with 234 rows and 11 variables

### Details

  * manufacturer.

  * model.

  * displ. engine displacement, in litres

  * year.

  * cyl. number of cylinders

  * trans. type of transmission

  * drv. f = front-wheel drive, r = rear wheel drive, 4 = 4wd

  * cty. city miles per gallon

  * hwy. highway miles per gallon

  * fl.

  * class.

AttributeError: 'function' object has no attribute 'show'

In [11]:
mpg

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [12]:
mpg = data('mpg')

In [13]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [14]:
mpg.describe().round(1)

       displ    year    cyl    cty    hwy
count  234.0   234.0  234.0  234.0  234.0
mean     3.5  2003.5    5.9   16.9   23.4
std      1.3     4.5    1.6    4.3    6.0
min      1.6  1999.0    4.0    9.0   12.0
25%      2.4  1999.0    4.0   14.0   18.0
50%      3.3  2003.5    6.0   17.0   24.0
75%      4.6  2008.0    8.0   19.0   27.0
max      7.0  2008.0    8.0   35.0   44.0

In [15]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

In [16]:
mpg.columns

Index(['manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty',
       'hwy', 'fl', 'class'],
      dtype='object')

A. How many rows and columns are there?

In [17]:
mpg.info() ## 234 rows, 11 columns

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

B. What are the data types of each column?

In [18]:
mpg.dtypes

manufacturer     object
model            object
displ           float64
year              int64
cyl               int64
trans            object
drv              object
cty               int64
hwy               int64
fl               object
class            object
dtype: object

C. Summarize the dataframe with .info and .describe

In [19]:
mpg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 234 entries, 1 to 234
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 21.9+ KB

In [20]:
mpg.describe().round(1)

       displ    year    cyl    cty    hwy
count  234.0   234.0  234.0  234.0  234.0
mean     3.5  2003.5    5.9   16.9   23.4
std      1.3     4.5    1.6    4.3    6.0
min      1.6  1999.0    4.0    9.0   12.0
25%      2.4  1999.0    4.0   14.0   18.0
50%      3.3  2003.5    6.0   17.0   24.0
75%      4.6  2008.0    8.0   19.0   27.0
max      7.0  2008.0    8.0   35.0   44.0

D. Rename the cty column to city.
E. Rename the hwy column to highway.

In [21]:
mpg = mpg.rename(columns={'cty' : 'city'})
mpg = mpg.rename(columns={'hwy' : 'highway'})
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact
...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

F. Do any cars have better city mileage than highway mileage?

In [22]:
mpg[mpg.city > mpg.highway] #None

Empty DataFrame
Columns: [manufacturer, model, displ, year, cyl, trans, drv, city, highway, fl, class]
Index: []

G. Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.

In [23]:
mpg["mileage_difference"] = mpg.highway - mpg.city
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10
...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9

H. Which car (or cars) has the highest mileage difference?

In [24]:
mpg.sort_values(by = 'mileage_difference', ascending = False).head(5)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
107,honda,civic,1.8,2008,4,auto(l5),f,24,36,c,subcompact,12
223,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact,12
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11
229,volkswagen,passat,1.8,1999,4,auto(l5),f,18,29,p,midsize,11
36,chevrolet,malibu,3.5,2008,6,auto(l4),f,18,29,r,midsize,11

I. Which compact class car has the lowest highway mileage? The best?

In [25]:
mpg[mpg['class'] == "compact"].sort_values(by = 'highway', ascending = False).head(1) ##best

mpg[mpg['class'] == "compact"].sort_values(by = 'highway', ascending = True).head(1) ##worst
#mpg[mpg['class'] == "compact"].sort_values(by = 'highway', ascending = True).head(1)

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference
220,volkswagen,jetta,2.8,1999,6,auto(l4),f,16,23,r,compact,7

J.Create a column named average_mileage that is the mean of the city and highway mileage.

In [26]:
mpg["average_mileage"] = (mpg.highway + mpg.city )/ 2
mpg

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
1,audi,a4,1.8,1999,4,auto(l5),f,18,29,p,compact,11,23.5
2,audi,a4,1.8,1999,4,manual(m5),f,21,29,p,compact,8,25.0
3,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,11,25.5
4,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,9,25.5
5,audi,a4,2.8,1999,6,auto(l5),f,16,26,p,compact,10,21.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize,9,23.5
231,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize,8,25.0
232,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize,10,21.0
233,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize,8,22.0
234,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize,9,21.5

Which dodge car has the best average mileage? 
- caravan

The worst?
- ram 1500

In [27]:
mpg[mpg['manufacturer'] == 'dodge'].sort_values(by = 'average_mileage', ascending = True).head(3) #worst

mpg[mpg['manufacturer'] == 'dodge'].sort_values(by = 'average_mileage', ascending = False).head(3) #best

,manufacturer,model,displ,year,cyl,trans,drv,city,highway,fl,class,mileage_difference,average_mileage
38,dodge,caravan 2wd,2.4,1999,4,auto(l3),f,18,24,r,minivan,6,21.0
42,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan,7,20.5

3. Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [28]:
Mammals = data('Mammals')

In [29]:
data('Mammals', show_doc = True)

Mammals

PyDataset Documentation (adopted from R Documentation. The displayed examples are in R)

## Garland(1983) Data on Running Speed of Mammals

### Description

Observations on the maximal running speed of mammal species and their body
mass.

### Usage

    data(Mammals)

### Format

A data frame with 107 observations on the following 4 variables.

weight

Body mass in Kg for "typical adult sizes"

speed

Maximal running speed (fastest sprint velocity on record)

hoppers

logical variable indicating animals that ambulate by hopping, e.g. kangaroos

specials

logical variable indicating special animals with "lifestyles in which speed
does not figure as an important factor": Hippopotamus, raccoon (Procyon),
badger (Meles), coati (Nasua), skunk (Mephitis), man (Homo), porcupine
(Erithizon), oppossum (didelphis), and sloth (Bradypus)

### Details

Used by Chappell (1989) and Koenker, Ng and Portnoy (1994) to illustrate the
fitting of piecewise linear curves.

### Source

Garland, T. (1983) The relation between maximal running speed and body mass in
terrestrial mammals, _J. Zoology_, 199, 1557-1570.

### References

Koenker, R., P. Ng and S. Portnoy, (1994) Quantile Smoothing Splines”
_Biometrika_, 81, 673-680.

Chappell, R. (1989) Fitting Bent Lines to Data, with Applications ot
Allometry, _J. Theo. Biology_, 138, 235-256.

### See Also

`rqss`

### Examples

    data(Mammals)
    attach(Mammals)
    x <- log(weight)
    y <- log(speed)
    plot(x,y, xlab="Weight in log(Kg)", ylab="Speed in log(Km/hour)",type="n")
    points(x[hoppers],y[hoppers],pch = "h", col="red")
    points(x[specials],y[specials],pch = "s", col="blue")
    others <- (!hoppers & !specials)
    points(x[others],y[others], col="black",cex = .75)
    fit <- rqss(y ~ qss(x, lambda = 1),tau = .9)
    plot(fit)

In [30]:
Mammals

       weight  speed  hoppers  specials
1    6000.000   35.0    False     False
2    4000.000   26.0    False     False
3    3000.000   25.0    False     False
4    1400.000   45.0    False     False
5     400.000   70.0    False     False
6     350.000   70.0    False     False
7     300.000   64.0    False     False
8     260.000   70.0    False     False
9     250.000   40.0    False     False
10   3800.000   25.0    False      True
11   1000.000   60.0    False     False
12    900.000   70.0    False     False
13    900.000   56.0    False     False
14    800.000   29.0    False     False
15    750.000   57.0    False     False
16    500.000   32.0    False     False
17    450.000   56.0    False     False
18    300.000   72.0    False     False
19    300.000   90.0    False     False
20    250.000   80.0    False     False
21    250.000   56.0    False     False
22    170.000   80.0    False     False
23    150.000   48.0    False     False
24    130.000   70.0    False     False
25    120.000   80.0    False     False
26    120.000   61.0    False     False
27    110.000   33.0    False     False
28    100.000   64.0    False     False
29     85.000   55.0    False     False
30     80.000   65.0    False     False
31     72.000   56.0    False     False
32     70.000   45.0    False     False
33     65.000   60.0    False     False
34     62.000   81.0    False     False
35     50.000  100.0    False     False
36     50.000   60.0    False     False
37     50.000   40.0    False     False
38     50.000   47.0    False     False
39     37.000  105.0    False     False
40     35.000   80.0    False     False
41     34.000   97.0    False     False
42     30.000   97.0    False     False
43     30.000   80.0    False     False
44     30.000   45.0    False     False
45     20.000   81.0    False     False
46    400.000   40.0    False     False
47    300.000   48.0    False     False
48    230.000   56.0    False     False
49    150.000   59.0    False     False
50    135.000   48.0    False     False
51     65.000   65.0    False     False
52     60.000   60.0    False     False
53     55.000  110.0    False     False
54     45.000   50.0    False     False
55     40.000   64.0    False     False
56     25.000   67.0    False     False
57     20.000   70.0    False     False
58     16.000   65.0    False     False
59     12.000   24.0    False      True
60     11.000   30.0    False      True
61     10.000   56.0    False     False
62      7.000   60.0    False     False
63      6.000   72.0    False     False
64      5.000   64.0    False     False
65      5.000   27.0    False      True
66      3.000   16.0    False      True
67    127.000   32.0    False     False
68     70.000   40.0    False      True
69     13.000   37.0    False      True
70      9.000    3.2    False      True
71      4.000   16.0    False     False
72      0.600   36.0    False     False
73      0.600   20.0    False     False
74      0.550   27.0    False     False
75      0.500   18.0    False     False
76      0.400   20.0    False     False
77      0.300   13.0    False     False
78      0.250    9.7    False     False
79      0.220   15.0    False     False
80      0.110    9.0    False     False
81      0.100   17.0    False     False
82      0.056   21.0     True     False
83      0.050   11.0    False     False
84      0.045   16.0    False     False
85      0.035   32.0     True     False
86      0.035   14.0     True     False
87      0.030    6.8    False     False
88      0.030    9.1    False     False
89      0.025   11.0    False     False
90      0.025    8.6    False     False
91      0.018    8.9    False     False
92      0.016   13.0    False     False
93      0.100    4.0    False     False
94      0.100    2.4    False     False
95      0.016    3.6    False     False
96      4.600   64.0     True     False
97      4.400   72.0     True     False
98      4.000   72.0     True     False
99      3.500   56.0     True     False
100     2.000   64.0     True     False
101     1.900   56.0     True     False
102     1.500   50.0     True     False
103     1.500   40.0     True     False
104    50.000   65.0    False     False
105     5.000    7.4    False      True
106     0.024   13.0    False     False
107     4.000    1.6    False      True

In [31]:
Mammals.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

In [32]:
Mammals.describe().round(4)

          weight     speed
count   107.0000  107.0000
mean    278.6882   46.2084
std     839.6083   26.7168
min       0.0160    1.6000
25%       1.7000   22.5000
50%      34.0000   48.0000
75%     142.5000   65.0000
max    6000.0000  110.0000

A. How many rows and columns are there?

In [33]:
Mammals.info() #4 columns, 107 rows

<class 'pandas.core.frame.DataFrame'>
Int64Index: 107 entries, 1 to 107
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   weight    107 non-null    float64
 1   speed     107 non-null    float64
 2   hoppers   107 non-null    bool
 3   specials  107 non-null    bool
dtypes: bool(2), float64(2)
memory usage: 2.7 KB

B. What are the data types?

In [34]:
Mammals.dtypes #float, bool, obj

weight      float64
speed       float64
hoppers        bool
specials       bool
dtype: object

C. Summarize the dataframe with .info and .describe

D. What is the the weight of the fastest animal?

In [66]:
Mammals.sort_values(by = ["speed", "weight"], ascending = False).head(1) # also use .min(), .max() 
#functions on columns
#(Mammals.speed == Mammals.speed.max()).head(1)

    weight  speed  hoppers  specials  median_speed  faster_than_mdn
53    55.0  110.0    False     False          48.0             True

E. What is the overal percentage of specials?

In [36]:
len(Mammals[Mammals["specials"]])/len(Mammals) * 100
## Mammals.specials.mean()

9.345794392523365

E. How many animals are hoppers that are above the median speed? What percentage is this?

## On the assessment

In [37]:
Mammals['median_speed'] = Mammals.speed.median()
Mammals
#fast_hoppers = Mammals[(Mammals.hoppers == True) & (Mammals.speed > Mammals.speed.median())]
#len(fast_hoppers)/len(Mammals) * 100

       weight  speed  hoppers  specials  median_speed
1    6000.000   35.0    False     False          48.0
2    4000.000   26.0    False     False          48.0
3    3000.000   25.0    False     False          48.0
4    1400.000   45.0    False     False          48.0
5     400.000   70.0    False     False          48.0
6     350.000   70.0    False     False          48.0
7     300.000   64.0    False     False          48.0
8     260.000   70.0    False     False          48.0
9     250.000   40.0    False     False          48.0
10   3800.000   25.0    False      True          48.0
11   1000.000   60.0    False     False          48.0
12    900.000   70.0    False     False          48.0
13    900.000   56.0    False     False          48.0
14    800.000   29.0    False     False          48.0
15    750.000   57.0    False     False          48.0
16    500.000   32.0    False     False          48.0
17    450.000   56.0    False     False          48.0
18    300.000   72.0    False     False          48.0
19    300.000   90.0    False     False          48.0
20    250.000   80.0    False     False          48.0
21    250.000   56.0    False     False          48.0
22    170.000   80.0    False     False          48.0
23    150.000   48.0    False     False          48.0
24    130.000   70.0    False     False          48.0
25    120.000   80.0    False     False          48.0
26    120.000   61.0    False     False          48.0
27    110.000   33.0    False     False          48.0
28    100.000   64.0    False     False          48.0
29     85.000   55.0    False     False          48.0
30     80.000   65.0    False     False          48.0
31     72.000   56.0    False     False          48.0
32     70.000   45.0    False     False          48.0
33     65.000   60.0    False     False          48.0
34     62.000   81.0    False     False          48.0
35     50.000  100.0    False     False          48.0
36     50.000   60.0    False     False          48.0
37     50.000   40.0    False     False          48.0
38     50.000   47.0    False     False          48.0
39     37.000  105.0    False     False          48.0
40     35.000   80.0    False     False          48.0
41     34.000   97.0    False     False          48.0
42     30.000   97.0    False     False          48.0
43     30.000   80.0    False     False          48.0
44     30.000   45.0    False     False          48.0
45     20.000   81.0    False     False          48.0
46    400.000   40.0    False     False          48.0
47    300.000   48.0    False     False          48.0
48    230.000   56.0    False     False          48.0
49    150.000   59.0    False     False          48.0
50    135.000   48.0    False     False          48.0
51     65.000   65.0    False     False          48.0
52     60.000   60.0    False     False          48.0
53     55.000  110.0    False     False          48.0
54     45.000   50.0    False     False          48.0
55     40.000   64.0    False     False          48.0
56     25.000   67.0    False     False          48.0
57     20.000   70.0    False     False          48.0
58     16.000   65.0    False     False          48.0
59     12.000   24.0    False      True          48.0
60     11.000   30.0    False      True          48.0
61     10.000   56.0    False     False          48.0
62      7.000   60.0    False     False          48.0
63      6.000   72.0    False     False          48.0
64      5.000   64.0    False     False          48.0
65      5.000   27.0    False      True          48.0
66      3.000   16.0    False      True          48.0
67    127.000   32.0    False     False          48.0
68     70.000   40.0    False      True          48.0
69     13.000   37.0    False      True          48.0
70      9.000    3.2    False      True          48.0
71      4.000   16.0    False     False          48.0
72      0.600   36.0    False     False          48.0
73      0.600   20.0    False     False          48.0
74      0.550   27.0    False     False          48.0
75      0.500   18.0    False     False          48.0
76      0.400   20.0    False     False          48.0
77      0.300   13.0    False     False          48.0
78      0.250    9.7    False     False          48.0
79      0.220   15.0    False     False          48.0
80      0.110    9.0    False     False          48.0
81      0.100   17.0    False     False          48.0
82      0.056   21.0     True     False          48.0
83      0.050   11.0    False     False          48.0
84      0.045   16.0    False     False          48.0
85      0.035   32.0     True     False          48.0
86      0.035   14.0     True     False          48.0
87      0.030    6.8    False     False          48.0
88      0.030    9.1    False     False          48.0
89      0.025   11.0    False     False          48.0
90      0.025    8.6    False     False          48.0
91      0.018    8.9    False     False          48.0
92      0.016   13.0    False     False          48.0
93      0.100    4.0    False     False          48.0
94      0.100    2.4    False     False          48.0
95      0.016    3.6    False     False          48.0
96      4.600   64.0     True     False          48.0
97      4.400   72.0     True     False          48.0
98      4.000   72.0     True     False          48.0
99      3.500   56.0     True     False          48.0
100     2.000   64.0     True     False          48.0
101     1.900   56.0     True     False          48.0
102     1.500   50.0     True     False          48.0
103     1.500   40.0     True     False          48.0
104    50.000   65.0    False     False          48.0
105     5.000    7.4    False      True          48.0
106     0.024   13.0    False     False          48.0
107     4.000    1.6    False      True          48.0

In [38]:
Mammals['faster_than_mdn'] = Mammals.speed > Mammals.median_speed
Mammals

       weight  speed  hoppers  specials  median_speed  faster_than_mdn
1    6000.000   35.0    False     False          48.0            False
2    4000.000   26.0    False     False          48.0            False
3    3000.000   25.0    False     False          48.0            False
4    1400.000   45.0    False     False          48.0            False
5     400.000   70.0    False     False          48.0             True
6     350.000   70.0    False     False          48.0             True
7     300.000   64.0    False     False          48.0             True
8     260.000   70.0    False     False          48.0             True
9     250.000   40.0    False     False          48.0            False
10   3800.000   25.0    False      True          48.0            False
11   1000.000   60.0    False     False          48.0             True
12    900.000   70.0    False     False          48.0             True
13    900.000   56.0    False     False          48.0             True
14    800.000   29.0    False     False          48.0            False
15    750.000   57.0    False     False          48.0             True
16    500.000   32.0    False     False          48.0            False
17    450.000   56.0    False     False          48.0             True
18    300.000   72.0    False     False          48.0             True
19    300.000   90.0    False     False          48.0             True
20    250.000   80.0    False     False          48.0             True
21    250.000   56.0    False     False          48.0             True
22    170.000   80.0    False     False          48.0             True
23    150.000   48.0    False     False          48.0            False
24    130.000   70.0    False     False          48.0             True
25    120.000   80.0    False     False          48.0             True
26    120.000   61.0    False     False          48.0             True
27    110.000   33.0    False     False          48.0            False
28    100.000   64.0    False     False          48.0             True
29     85.000   55.0    False     False          48.0             True
30     80.000   65.0    False     False          48.0             True
31     72.000   56.0    False     False          48.0             True
32     70.000   45.0    False     False          48.0            False
33     65.000   60.0    False     False          48.0             True
34     62.000   81.0    False     False          48.0             True
35     50.000  100.0    False     False          48.0             True
36     50.000   60.0    False     False          48.0             True
37     50.000   40.0    False     False          48.0            False
38     50.000   47.0    False     False          48.0            False
39     37.000  105.0    False     False          48.0             True
40     35.000   80.0    False     False          48.0             True
41     34.000   97.0    False     False          48.0             True
42     30.000   97.0    False     False          48.0             True
43     30.000   80.0    False     False          48.0             True
44     30.000   45.0    False     False          48.0            False
45     20.000   81.0    False     False          48.0             True
46    400.000   40.0    False     False          48.0            False
47    300.000   48.0    False     False          48.0            False
48    230.000   56.0    False     False          48.0             True
49    150.000   59.0    False     False          48.0             True
50    135.000   48.0    False     False          48.0            False
51     65.000   65.0    False     False          48.0             True
52     60.000   60.0    False     False          48.0             True
53     55.000  110.0    False     False          48.0             True
54     45.000   50.0    False     False          48.0             True
55     40.000   64.0    False     False          48.0             True
56     25.000   67.0    False     False          48.0             True
57     20.000   70.0    False     False          48.0             True
58     16.000   65.0    False     False          48.0             True
59     12.000   24.0    False      True          48.0            False
60     11.000   30.0    False      True          48.0            False
61     10.000   56.0    False     False          48.0             True
62      7.000   60.0    False     False          48.0             True
63      6.000   72.0    False     False          48.0             True
64      5.000   64.0    False     False          48.0             True
65      5.000   27.0    False      True          48.0            False
66      3.000   16.0    False      True          48.0            False
67    127.000   32.0    False     False          48.0            False
68     70.000   40.0    False      True          48.0            False
69     13.000   37.0    False      True          48.0            False
70      9.000    3.2    False      True          48.0            False
71      4.000   16.0    False     False          48.0            False
72      0.600   36.0    False     False          48.0            False
73      0.600   20.0    False     False          48.0            False
74      0.550   27.0    False     False          48.0            False
75      0.500   18.0    False     False          48.0            False
76      0.400   20.0    False     False          48.0            False
77      0.300   13.0    False     False          48.0            False
78      0.250    9.7    False     False          48.0            False
79      0.220   15.0    False     False          48.0            False
80      0.110    9.0    False     False          48.0            False
81      0.100   17.0    False     False          48.0            False
82      0.056   21.0     True     False          48.0            False
83      0.050   11.0    False     False          48.0            False
84      0.045   16.0    False     False          48.0            False
85      0.035   32.0     True     False          48.0            False
86      0.035   14.0     True     False          48.0            False
87      0.030    6.8    False     False          48.0            False
88      0.030    9.1    False     False          48.0            False
89      0.025   11.0    False     False          48.0            False
90      0.025    8.6    False     False          48.0            False
91      0.018    8.9    False     False          48.0            False
92      0.016   13.0    False     False          48.0            False
93      0.100    4.0    False     False          48.0            False
94      0.100    2.4    False     False          48.0            False
95      0.016    3.6    False     False          48.0            False
96      4.600   64.0     True     False          48.0             True
97      4.400   72.0     True     False          48.0             True
98      4.000   72.0     True     False          48.0             True
99      3.500   56.0     True     False          48.0             True
100     2.000   64.0     True     False          48.0             True
101     1.900   56.0     True     False          48.0             True
102     1.500   50.0     True     False          48.0             True
103     1.500   40.0     True     False          48.0            False
104    50.000   65.0    False     False          48.0             True
105     5.000    7.4    False      True          48.0            False
106     0.024   13.0    False     False          48.0            False
107     4.000    1.6    False      True          48.0            False

In [44]:
Mammals.sort_values(by = ["faster_than_mdn" , "hoppers"], ascending = False)

       weight  speed  hoppers  specials  median_speed  faster_than_mdn
96      4.600   64.0     True     False          48.0             True
97      4.400   72.0     True     False          48.0             True
98      4.000   72.0     True     False          48.0             True
99      3.500   56.0     True     False          48.0             True
100     2.000   64.0     True     False          48.0             True
101     1.900   56.0     True     False          48.0             True
102     1.500   50.0     True     False          48.0             True
5     400.000   70.0    False     False          48.0             True
6     350.000   70.0    False     False          48.0             True
7     300.000   64.0    False     False          48.0             True
8     260.000   70.0    False     False          48.0             True
11   1000.000   60.0    False     False          48.0             True
12    900.000   70.0    False     False          48.0             True
13    900.000   56.0    False     False          48.0             True
15    750.000   57.0    False     False          48.0             True
17    450.000   56.0    False     False          48.0             True
18    300.000   72.0    False     False          48.0             True
19    300.000   90.0    False     False          48.0             True
20    250.000   80.0    False     False          48.0             True
21    250.000   56.0    False     False          48.0             True
22    170.000   80.0    False     False          48.0             True
24    130.000   70.0    False     False          48.0             True
25    120.000   80.0    False     False          48.0             True
26    120.000   61.0    False     False          48.0             True
28    100.000   64.0    False     False          48.0             True
29     85.000   55.0    False     False          48.0             True
30     80.000   65.0    False     False          48.0             True
31     72.000   56.0    False     False          48.0             True
33     65.000   60.0    False     False          48.0             True
34     62.000   81.0    False     False          48.0             True
35     50.000  100.0    False     False          48.0             True
36     50.000   60.0    False     False          48.0             True
39     37.000  105.0    False     False          48.0             True
40     35.000   80.0    False     False          48.0             True
41     34.000   97.0    False     False          48.0             True
42     30.000   97.0    False     False          48.0             True
43     30.000   80.0    False     False          48.0             True
45     20.000   81.0    False     False          48.0             True
48    230.000   56.0    False     False          48.0             True
49    150.000   59.0    False     False          48.0             True
51     65.000   65.0    False     False          48.0             True
52     60.000   60.0    False     False          48.0             True
53     55.000  110.0    False     False          48.0             True
54     45.000   50.0    False     False          48.0             True
55     40.000   64.0    False     False          48.0             True
56     25.000   67.0    False     False          48.0             True
57     20.000   70.0    False     False          48.0             True
58     16.000   65.0    False     False          48.0             True
61     10.000   56.0    False     False          48.0             True
62      7.000   60.0    False     False          48.0             True
63      6.000   72.0    False     False          48.0             True
64      5.000   64.0    False     False          48.0             True
104    50.000   65.0    False     False          48.0             True
82      0.056   21.0     True     False          48.0            False
85      0.035   32.0     True     False          48.0            False
86      0.035   14.0     True     False          48.0            False
103     1.500   40.0     True     False          48.0            False
1    6000.000   35.0    False     False          48.0            False
2    4000.000   26.0    False     False          48.0            False
3    3000.000   25.0    False     False          48.0            False
4    1400.000   45.0    False     False          48.0            False
9     250.000   40.0    False     False          48.0            False
10   3800.000   25.0    False      True          48.0            False
14    800.000   29.0    False     False          48.0            False
16    500.000   32.0    False     False          48.0            False
23    150.000   48.0    False     False          48.0            False
27    110.000   33.0    False     False          48.0            False
32     70.000   45.0    False     False          48.0            False
37     50.000   40.0    False     False          48.0            False
38     50.000   47.0    False     False          48.0            False
44     30.000   45.0    False     False          48.0            False
46    400.000   40.0    False     False          48.0            False
47    300.000   48.0    False     False          48.0            False
50    135.000   48.0    False     False          48.0            False
59     12.000   24.0    False      True          48.0            False
60     11.000   30.0    False      True          48.0            False
65      5.000   27.0    False      True          48.0            False
66      3.000   16.0    False      True          48.0            False
67    127.000   32.0    False     False          48.0            False
68     70.000   40.0    False      True          48.0            False
69     13.000   37.0    False      True          48.0            False
70      9.000    3.2    False      True          48.0            False
71      4.000   16.0    False     False          48.0            False
72      0.600   36.0    False     False          48.0            False
73      0.600   20.0    False     False          48.0            False
74      0.550   27.0    False     False          48.0            False
75      0.500   18.0    False     False          48.0            False
76      0.400   20.0    False     False          48.0            False
77      0.300   13.0    False     False          48.0            False
78      0.250    9.7    False     False          48.0            False
79      0.220   15.0    False     False          48.0            False
80      0.110    9.0    False     False          48.0            False
81      0.100   17.0    False     False          48.0            False
83      0.050   11.0    False     False          48.0            False
84      0.045   16.0    False     False          48.0            False
87      0.030    6.8    False     False          48.0            False
88      0.030    9.1    False     False          48.0            False
89      0.025   11.0    False     False          48.0            False
90      0.025    8.6    False     False          48.0            False
91      0.018    8.9    False     False          48.0            False
92      0.016   13.0    False     False          48.0            False
93      0.100    4.0    False     False          48.0            False
94      0.100    2.4    False     False          48.0            False
95      0.016    3.6    False     False          48.0            False
105     5.000    7.4    False      True          48.0            False
106     0.024   13.0    False     False          48.0            False
107     4.000    1.6    False      True          48.0            False

In [49]:
len(Mammals[(Mammals["faster_than_mdn"]) & (Mammals["hoppers"]) == True])/len(Mammals) * 100 #calling table ""
#len(Mammals[Mammals["specials"]])/len(Mammals) * 100

6.5420560747663545

#calling df "Mammals", then calling columns from Mammals table takes a specific syntax
len(Mammals[
    >> then: (Mammals["faster_than_median"]) &

In [50]:
len(Mammals[Mammals.hoppers & Mammals.faster_than_mdn])/len(Mammals) * 100

6.5420560747663545

^^ This method is simpler, and refers to columns by the "dot" method